* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    list-style: none;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-color: #101010;
    color: aliceblue;
}

header {
    padding: 1.5em;
}

header nav ul {
    display: flex;
    justify-content: center;
    gap: 2em;
    padding: .75em;
}

header nav ul li:hover{
    background: #207070;
}

header nav ul li {
    background-color: #206060;
    padding: .5em;
    border-radius: 10px;
    cursor: pointer;
}

h1 {
    font-weight: normal;
    text-align: center;
}




.invisible {
    display: none;
}

.flex {
    display: flex;
}




footer {
    text-align: center;
    padding: 1em;
    margin-top: auto;
    font-size: small;
}