:root {
    --gradient: linear-gradient(to right, #1F3A5F,#4d648d,#3D5A80,#0F1C2E,#1f2b3e,#374357);
}

header {
    text-align: center;
    padding: 1.5em;
    color: beige;
    font-family: sans-serif;
    background-image: var(--gradient);
    background-size: 400%;
    animation: header-animation 10s infinite alternate;
}

header h1 {
    font-size: 2.5em;
}

header p {
    font-size: 1.5em;
}

@keyframes header-animation {
    0% {
        background-position: left;
    }

    /*por defecto*/
    100% {
        background-position: right;
    }
}