#form {
  display: flex;
  flex-direction: column;
  gap: 1em;
  justify-content: center;
  align-items: center;
}

#form input[type="radio"] {
  display: none;
}

#form select {
  display: block;
  font-size: medium;
  padding: 1em;
  background-color: var(--accent-100);
  color: var(--text-100);
  text-align: center;
  cursor: pointer;
  border-radius: .5em;
  width: 90%;
}

#form .option-select{
  display: flex;
  justify-items: center;
  align-items: center;
  flex-direction: column;
  gap: 1em;
  text-align: center;
}

#form label {
  display: block;
  padding: .5em;
  background-color: var(--primary-100);
  color: var(--text-100);
  text-align: center;
  cursor: pointer;
  border-radius: .5em;
}

#form input[type="radio"]:checked+label {
  background-color: var(--accent-100);
}

#form label:hover {
  background-color: var(--bg-100);
  transition: all .3s;
}

#form div:nth-child(2) {
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding: 1em;
  align-items: center;
}

#form button[type=submit],
#borrar {
  background-color: var(--primary-200);
  color: var(--text-200);
  border: none;
  border-radius: 5px;
  font-size: medium;
  cursor: pointer;
  padding: 1em;
  width: 80%;
}

#form button[type=submit]:hover,
#borrar:hover {
  background-color: var(--primary-300);
  color: var(--bg-100);
  transition: all .3s;
}

#options {
  background-color: var(--bg-300);
  display: grid;
  gap: .5em;
  place-content: center;
}

.input-cadena {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 1em;
  padding: 1em;
  align-items: center;
}

.input-cadena button {
  background-color: var(--primary-200);
  color: var(--text-200);
  border: none;
  border-radius: 5px;
  font-size: medium;
  cursor: pointer;
  padding: .5em;
}

.input-cadena button:hover {
  background-color: var(--primary-300);
  color: var(--bg-100);
  transition: all .3s;
}

.inputs {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1em;
  transition: all 2s;
}

.inputs input {
  padding: .75em;
  background-color: var(--accent-200);
  color: var(--bg-100);
  border: none;
  border-radius: 5px;
  font-size: medium;
  width: 100%;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 1em 0;
}

