@import url(./header.css);

:root {
    --primary-color: #0c0d0d;
    --secondary-color: #101217;
    --tertiary-color: #05183c;
    --text-color: #f5f5f5;
}

* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    list-style: none;


}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-color: var(--primary-color);
    color: var(--text-color);
}

.invisible {
    display: none;
}

main {
    padding: 3em;
    display: flex;
    height: 100%;
    flex: 1;
}

main section:first-child {
    width: 30%;
    height: 100%;
    padding: 1em;
    background-color: var(--secondary-color);
    border-radius: 10px;
    margin: 1em;
}

main section:last-child {
    width: 70%;
    height: 100%;
    padding: 1em;
    background-color: var(--secondary-color);
    border-radius: 10px;
    margin: 1em;
}


footer {
    text-align: center;
    padding: 1em;
    margin-top: auto;
    font-size: small;
}